.title_login{
  text-align: center;
  color: white;
}

.item{
  color: white !important;
}

nav{
  background-color: rgba(102,153,51,255);
}

.navbar-brand{
  color: white;
}

.page-header{
  background-image: url('../public/background.svg');
  height: 5rem;
  background-color: rgb(216, 216, 216);
}

.login-link{
  text-decoration: none;
  color: gray;
}

.search-place{
  margin-top: 3rem;
}